#!/system/bin/sh
# SPECTRUM & FRANCO KERNEL MANAGERS
# Profile initialization by Zile995

# Initialization
on property:sys.boot_completed=1

# Set default profile on first boot
    exec u:r:init:s0 root root -- /vendor/bin/init.spectrum.sh
    exec u:r:magisk:s0 root root -- /vendor/bin/init.spectrum.sh
    exec u:r:su:s0 root root -- /vendor/bin/init.spectrum.sh

# Enable Spectrum support
   setprop spectrum.support 1

# Add kernel name
   setprop persist.spectrum.kernel mido-treble

# Balance (default profile)
on property:persist.spectrum.profile=0
    # CPU
    write /sys/module/workqueue/parameters/power_efficient Y
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2016000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 652800
    write /sys/module/cpu_boost/parameters/input_boost_freq 1036800
    write /sys/module/cpu_boost/parameters/input_boost_ms 1000
    write /sys/class/kgsl/kgsl-3d0/idle_timer 80
    write /sys/class/kgsl/kgsl-3d0/max_gpuclk 650000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 650000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 133330000
    write /sys/class/kgsl/kgsl-3d0/min_clock_mhz 133
    write /sys/class/kgsl/kgsl-3d0/default_pwrlevel 4
    write /sys/class/leds/lcd-backlight/max_brightness 255

    # GPU
    write /sys/devices/soc/soc:qcom,cpubw/devfreq/soc:qcom,cpubw/governor bw_hwmon
    write /sys/devices/soc/soc:qcom,cpubw/devfreq/soc:qcom,cpubw/max_freq 7104
    write /sys/devices/soc/soc:qcom,cpubw/devfreq/soc:qcom,cpubw/min_freq 1611
    write /sys/devices/soc/soc:qcom,mincpubw/devfreq/soc:qcom,mincpubw/governor cpufreq
    write /sys/devices/soc/soc:qcom,mincpubw/devfreq/soc:qcom,mincpubw/max_freq 5859
    write /sys/devices/soc/soc:qcom,mincpubw/devfreq/soc:qcom,mincpubw/min_freq 1611

    # I/O Scheduler
    write /sys/block/mmcblk0/queue/read_ahead_kb 1024
    write /sys/block/mmcblk0/queue/scheduler "cfq"
    # cpu core
    write /sys/devices/system/cpu/cpu0/online 1
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu4/online 1
    write /sys/devices/system/cpu/cpu5/online 1
    write /sys/devices/system/cpu/cpu6/online 1
    write /sys/devices/system/cpu/cpu7/online 1

# Performance
on property:persist.spectrum.profile=1
    # CPU
    write /sys/module/workqueue/parameters/power_efficient Y
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2208000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 652800
    write /sys/module/cpu_boost/parameters/input_boost_freq 1401600
    write /sys/module/cpu_boost/parameters/input_boost_ms 1250
    write /sys/class/kgsl/kgsl-3d0/idle_timer 80
    write /sys/class/kgsl/kgsl-3d0/max_gpuclk 650000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 650000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 133330000
    write /sys/class/kgsl/kgsl-3d0/min_clock_mhz 133
    write /sys/class/kgsl/kgsl-3d0/default_pwrlevel 4
    write /sys/class/leds/lcd-backlight/max_brightness 255

    # GPU
    write /sys/devices/soc/soc:qcom,cpubw/devfreq/soc:qcom,cpubw/governor bw_hwmon
    write /sys/devices/soc/soc:qcom,cpubw/devfreq/soc:qcom,cpubw/max_freq 7104
    write /sys/devices/soc/soc:qcom,cpubw/devfreq/soc:qcom,cpubw/min_freq 1611
    write /sys/devices/soc/soc:qcom,mincpubw/devfreq/soc:qcom,mincpubw/governor cpufreq
    write /sys/devices/soc/soc:qcom,mincpubw/devfreq/soc:qcom,mincpubw/max_freq 7104
    write /sys/devices/soc/soc:qcom,mincpubw/devfreq/soc:qcom,mincpubw/min_freq 1611

    # I/O Scheduler
    write /sys/block/mmcblk0/queue/read_ahead_kb 2048
    write /sys/block/mmcblk0/queue/scheduler "deadline"
    # cpu core
    write /sys/devices/system/cpu/cpu0/online 1
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu4/online 1
    write /sys/devices/system/cpu/cpu5/online 1
    write /sys/devices/system/cpu/cpu6/online 1
    write /sys/devices/system/cpu/cpu7/online 1

# Battery
on property:persist.spectrum.profile=2
    # CPU
    write /sys/module/workqueue/parameters/power_efficient Y
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1689600
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 652800
    write /sys/module/cpu_boost/parameters/input_boost_freq 1036800
    write /sys/module/cpu_boost/parameters/input_boost_ms 750
    write /sys/class/kgsl/kgsl-3d0/idle_timer 64
    write /sys/class/kgsl/kgsl-3d0/max_gpuclk 560000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 560000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 133330000
    write /sys/class/kgsl/kgsl-3d0/min_clock_mhz 133
    write /sys/class/kgsl/kgsl-3d0/default_pwrlevel 4
    write /sys/class/leds/lcd-backlight/max_brightness 127

    # GPU
    write /sys/devices/soc/soc:qcom,cpubw/devfreq/soc:qcom,cpubw/governor bw_hwmon
    write /sys/devices/soc/soc:qcom,cpubw/devfreq/soc:qcom,cpubw/max_freq 6445
    write /sys/devices/soc/soc:qcom,cpubw/devfreq/soc:qcom,cpubw/min_freq 1611
    write /sys/devices/soc/soc:qcom,mincpubw/devfreq/soc:qcom,mincpubw/governor cpufreq
    write /sys/devices/soc/soc:qcom,mincpubw/devfreq/soc:qcom,mincpubw/max_freq 5859
    write /sys/devices/soc/soc:qcom,mincpubw/devfreq/soc:qcom,mincpubw/min_freq 1611

    # I/O Scheduler
    write /sys/block/mmcblk0/queue/read_ahead_kb 128
    write /sys/block/mmcblk0/queue/scheduler "noop"

    #cpu core 
    write /sys/devices/system/cpu/cpu6/online 1
    write /sys/devices/system/cpu/cpu7/online 1

# Gaming
on property:persist.spectrum.profile=3
    # CPU
    write /sys/module/workqueue/parameters/power_efficient N
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2208000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 1036800
    write /sys/module/cpu_boost/parameters/input_boost_freq 1689600
    write /sys/module/cpu_boost/parameters/input_boost_ms 1500
    write /sys/class/kgsl/kgsl-3d0/idle_timer 1000000
    write /sys/class/kgsl/kgsl-3d0/max_gpuclk 725000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 725000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 725000000
    write /sys/class/kgsl/kgsl-3d0/min_clock_mhz 725
    write /sys/class/kgsl/kgsl-3d0/default_pwrlevel 0
    write /sys/class/leds/lcd-backlight/max_brightness 225

    # GPU
    write /sys/devices/soc/soc:qcom,cpubw/devfreq/soc:qcom,cpubw/governor bw_hwmon
    write /sys/devices/soc/soc:qcom,cpubw/devfreq/soc:qcom,cpubw/max_freq 7104
    write /sys/devices/soc/soc:qcom,cpubw/devfreq/soc:qcom,cpubw/min_freq 4248
    write /sys/devices/soc/soc:qcom,mincpubw/devfreq/soc:qcom,mincpubw/governor bw_hwmon
    write /sys/devices/soc/soc:qcom,mincpubw/devfreq/soc:qcom,mincpubw/max_freq 7104
    write /sys/devices/soc/soc:qcom,mincpubw/devfreq/soc:qcom,mincpubw/min_freq 7104

    # I/O Scheduler
    write /sys/block/mmcblk0/queue/read_ahead_kb 4096
    write /sys/block/mmcblk0/queue/scheduler "deadline"
    # cpu core
    write /sys/devices/system/cpu/cpu0/online 1
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu4/online 1
    write /sys/devices/system/cpu/cpu5/online 1
    write /sys/devices/system/cpu/cpu6/online 1
    write /sys/devices/system/cpu/cpu7/online 1

# Ultra-Battery
on property:persist.spectrum.profile=4
    # CPU
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "powersave"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 652800
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1401600
    write /sys/module/msm_performance/parameters/touchboost 0
    write /sys/module/workqueue/parameters/power_efficient Y

    # GPU
    write /sys/devices/soc/1c00000.qcom,kgsl-3d0/devfreq/1c00000.qcom,kgsl-3d0/governor "powersave"
    write /sys/devices/soc/1c00000.qcom,kgsl-3d0/devfreq/1c00000.qcom,kgsl-3d0/min_freq 133000000
    write /sys/devices/soc/1c00000.qcom,kgsl-3d0/devfreq/1c00000.qcom,kgsl-3d0/max_freq 510000000
    write /sys/class/kgsl/kgsl-3d0/max_gpuclk 510000000

    # I/O Scheduler
    write /sys/block/mmcblk0/queue/read_ahead_kb 128
    write /sys/block/mmcblk0/queue/scheduler "anxiety"

    # core control
    write /sys/devices/system/cpu/cpu7/online 0
    write /sys/devices/system/cpu/cpu6/online 0
